#set($filename = "${name}SynchronizedReceiver.java")package ${myPackage};

@@IMPORTS@@

public class ${name}SynchronizedReceiver implements #classRef($protocol)#foreach($p in $subprotocols), #classRef($p)#end {
	private final #classRef($protocol) receiver;

	public ${name}SynchronizedReceiver(#classRef($protocol) receiver) {
		this.receiver = receiver;
	}


#foreach($pm in $allsubprotocols)
	@Override
	public #classRef($pm.Method.ReturnType) ${pm.Method.Name}() {
		return this;
	}
#end

#foreach($pm in $allmethods)
	@Override
	public synchronized void ${pm.Method.Name}(#parameterList($pm.Method)) {
		receiver.${pm.Chain}${pm.Method.Name}($pm.Method.ParameterListWithoutTypes);
	}
#end
}
