package ${myPackage};

@@IMPORTS@@

public interface ObjectFactory {
#foreach($type in $types)
	#classRef("java.util.List<? extends $type.FullNameWithGenerics>") create#capitalize($type.DescriptionWithGenerics)List();
#end
}
