#set($filename = "${name}Checksum.java")package ${myPackage};

@@IMPORTS@@

public class ${name}Checksum {
	public static final String SMRT_VERSION = "1.0";
	public static final String PROTOCOL_VERSION = "${protocol.Version}";

    /* Source for checksum:
$checksum.Source
    */

    private static final byte[] checksum = new byte[]{
#foreach($byte in $checksum.Bytes)
        $byte,
#end
    };

    public static final byte[] getChecksum() {
        return #classRef("java.util.Arrays").copyOf(checksum, checksum.length);
    }

	public static String checksumAsString(byte[] checksum) {
		if (checksum == null) {
			return null;
		}
		#classRef("java.lang.StringBuilder") builder = new #classRef("java.lang.StringBuilder")();
		for (int i = 0; i < checksum.length; i++) {
			builder.append(Integer.toHexString(checksum[i]));
		}
		return builder.toString();
	}
}
