package ${myPackage};

@@IMPORTS@@

public class IncomingMessageHandler {
	private final #classRef("${myPackage}.RequiredReadCodec") codec;

	public IncomingMessageHandler(#classRef("${myPackage}.RequiredReadCodec") codec) {
		this.codec = codec;
	}

	public void handleMessage(#classRef("java.io.InputStream") input, #classRef($protocol) receiver) throws #classRef("java.io.IOException") {
		int messageId = codec.readInt(input);
		switch (messageId) {
#foreach($pm in $allmethods)
			case MessageId.${pm.Protocol.Type.SimpleName.toUpperCase()}_${pm.Method.Name.toUpperCase()}: {
#foreach($parameter in $pm.Method.Parameters)
				#classRef($parameter.Type) $parameter.Name = codec.read#capitalize(${parameter.Type.DescriptionWithGenerics})(input);
#end
				receiver.${pm.Chain}${pm.Method.Name}($pm.Method.ParameterListWithoutTypes);
			}
			break;
#end
		}
	}
}

