package ${myPackage};

public class MessageId {
#set($idCount = 0)
#foreach($interface in $bundle.Classes)
#foreach($method in $interface.Methods)
	public static final int ${interface.Type.SimpleName.toUpperCase()}_${method.Name.toUpperCase()} = $idCount;
#set($idCount = $idCount + 1)
#end
#end
}
